.headerView {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainContainer {
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
}
.playerView {
    height: 400px;
    padding: 30px;
}
.bottomView {
    padding-left: 30px;
}
.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.individualClips {
    padding-left: 30px;
    margin-top: 20px;
    padding-top: 20px;
}
.eachRow {
    display: inline;    
}
.stickLeft {
    float: left;
}
.imagePlay {
    float: right;
    width: 20px;
    height: 20px;
}
.whitebackgroundColor {
    background-color: white;
}
.widthOfDownLoadbutton {
    width: 50%;
    align-self: center;
}