.backgroundColor {
    background-color: #BDBDBD;
    color: black;
}
.height50 {
    height: 50px;
}
.padding {
    padding: 20px;
    height: 150px;
}
.leftCard {
    float: right;
    width: 80%;
}
.rightCard {
    float: left;
    width: 80%;
}

.centerCard {
    width: 80%;
    margin: auto
}
.dashBoardBox {
    display: flex;
    align-items: center;
}
ul.ThumbnailView {
padding-left: 0px;
width: 100%;
}
ul.ThumbnailView li[class*="span"] {
    display: inline;
    float: none;
    padding: 5px;
}
ul.ThumbnailView li[class="span"]:first-child {
    margin-left: 0;
}
img.listItem {
    width: 150px;
    height: auto;
    max-height: 100px;
}
.autoMargin {
    margin: auto;
    text-align: left;
}
ul.alignText {
    text-align: left;
}
.search {
    position: relative;
    border-radius: 10px;
    background-color: white;
    margin-left: 0px;
    width: 100%;
} 
.searchIcon {
    height: 100%;
    width: 20px;
    position: absolute;
    pointer-events: 'none';
    display: flex;
    align-items: 'center';
    justify-content: 'center';
}
.inputRoot {
    color: inherit;
    width: 100%
}
.inputInput {
    padding-left: 20px;
    width: 100%;
}
.rootHeader {
    width: 100%;
}
.typoGraphy {
    display: block;
}
.grow {
    flex-grow: 1;
}
@media only screen and (max-width: 786px) {
    ul.alignText {
       text-align: center; 
    }
    img.listItem {
        max-width: 100px;
    }
    .leftCard {
        margin: auto;
        float: none;
    }
    .rightCard {
        margin: auto;
        float: none;
    }
    .search {
        width: auto;
    }
    .inputInput {
        width: 120px;
    }
}